<div class="search-item">
  <div class="search-item__inner">
    <figure class="search-item__thumb">
      <img src="{{findItem.thumb}}" alt="result-search-img">
    </figure>
    <div class="search-item__title">
      <span class="search-item__name">{{findItem.title}}</span>
      <span class="search-item__votes">{{findItem.likeCount}} Votes</span>
      <a href="" class="search-item__play" (click)="onPlay($event)">
        <i class="glyphicon glyphicon-play-circle"></i>
      </a>
    </div>
  </div>
</div>
