<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Testing task</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container" ng-controller="MainCtrl">
		<h1>Testing task</h1>
		<nav class="navbar">
			<ul class="nav nav-pills">
			  <li ng-class="{'active': activeClass === 'table'}"><a href="#/items?view=table" ng-click="switchStateView('table')">Items table view</a></li>
			  <li ng-class="{'active': activeClass === 'tile'}"><a href="#/items?view=tile" ng-click="switchStateView('tile')">Items tile view</a></li>
			  <li ng-class="{'active': activeClass === 'create'}"><a href="#/create" ng-click="switchStateView('create'); clearData(true)">Create/add item</a></li>
			</ul>
		</nav>
		<div class="well well-lg"><b class="text-uppercase">Item list</b></div>
		<ng-view></ng-view>
		<ng-include src="'views/modal.html'"></ng-include>
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="/js/ui-bootstrap/ui-bootstrap-custom-tpls-2.3.0.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controller/MainCtrl.js"></script>
	<script src="/js/controller/itemViewCtrl.js"></script>
	<script src="/js/controller/paginationCtrl.js"></script>
	<script src="/js/services/itemSvc.js"></script>
</body>
</html>
