.no-data {
  width: 100%;
  min-height: 280px;
  position: relative;
  background-image: url("https://svgur.com/i/AY2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
