<div class="row">
  <div class="col-sm-6">
    <form class="form-horizontal"
          name="ItemViewForm"
          novalidate
          ng-submit="itemBox.sendData(ItemViewForm)"
    >
      <div class="form-group" ng-class="{'has-error': itemBox.name.error}">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text"
                 name="name"
                 class="form-control",
                 ng-model="items.itemBox.name.value"
                 ng-change="itemBox.clearError(ItemViewForm)"
                 required
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': itemBox.desc.error}">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text"
                 name="desc"
                 class="form-control"
                 ng-model="items.itemBox.desc.value"
                 ng-change="items.clearError(ItemViewForm)"
                 required
                 placeholder="Description">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile" class="col-sm-2 control-label">File input</label>
        <div class="col-sm-10">
          <input type="file"
                id="exampleInputFile"
                name="image"
                ngf-select
                ng-model="items.itemBox.image.value"
                accept="image/*" ngf-max-size="2MB" required>
          <img ng-show="ItemViewForm.image.$valid"        ngf-thumbnail="items.itemBox.image.value"
                style="width:180px; height:100px;" class="thumbnail">
          <button
          class="btn btn-default"
          ng-click="items.itemBox.image.value = null" ng-show="items.itemBox.image.value">Remove</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"
                  class="btn btn-default"
                  ng-disabled="ItemViewForm.$invalid">Add</button>

          <button class="btn btn-danger"
                  ng-click="clearData()">Clear</button>
        </div>
      </div>
    </form>

  </div>
</div>
