<div class="well">
  <input type="text"
  class="form-control"
  ng-model="searchItem"
  placeholder="Text input">
</div>
<div>
  <table class="table table-hover">
     <tr ng-repeat="item in itemsList | filter : searchItem | limitTo: perPage">
       <td>{{$index}}</td>
       <td><img ng-src="{{item.src}}"
                alt="{{item.name}}"
                style="height:30px;"></td>
       <td>{{item.name}}</td>
       <td>{{item.desc}}</td>
       <td><a href=""
         class="btn btn-primary"
         ng-click="itemBox.showCurrentItem(item, $index)"
         role="button">Edit / Show</a></td>
       <td><a href=""
         class="btn btn-danger"
         ng-click="itemBox.removeCurrentItem(item, $index)" role="button">Remove</a></td>
     </tr>
  </table>
</div>
<div ng-controller="PaginationCtrl">
   <ul
     uib-pagination
     total-items="totalItems"
     items-per-page="perPage"
     ng-model="currentPage"
     ng-change="pageChanged()">
    </ul>
</div>
