<div class="well">
  <input type="text"
  class="form-control"
  ng-model="searchItem"
  placeholder="Text input">
</div>
<div class="row">

  <div class="col-sm-6 col-md-4" ng-repeat="item in itemsList | filter : searchItem | limitTo: perPage">
    <div class="thumbnail">
      <img ng-src="{{item.src.url}}"
           alt="{{item.name}}"
           style="height:100px;">
      <div class="caption">
        <h3 ng-click="itemBox.showCurrentItem(item, $index)">{{item.name}}</h3>
        <p>{{item.desc}}</p>
        <p><a href=""
          class="btn btn-primary"
          ng-click="itemBox.showCurrentItem(item, $index)"
          role="button">Edit / Show</a> <a href=""
          class="btn btn-danger"
          ng-click="itemBox.removeCurrentItem(item, $index)" role="button">Remove</a></p>
      </div>
    </div>
  </div>
</div>
<div ng-controller="PaginationCtrl">
   <ul
     uib-pagination
     total-items="totalItems"
     items-per-page="perPage"
     ng-model="currentPage"
     ng-change="pageChanged()">
    </ul>
</div>
