.plate {
  width: 19%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ced4da;
  border-radius: .25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  margin: 0 0 10px;

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
  }

  &__desc {
    height: 32px;
    color: #495057;
    margin: 5px 0 0;
  }
}

@media only screen and (max-width: 960px) {
  .plate {
    width: 32%;
  }
}

@media only screen and (max-width: 680px) {
  .plate {
    width: 49%;
  }
}
