<div class="search">
  <div class="search__inner">
    <div class="search-field">
      <input
         type="text"
         class="search-field__input"
         [(ngModel)]="searchFieldValue"
         (ngModelChange)="changeFieldValue($event)"
         placeholder="Search on youtube">
    </div>
    <div class="search-box" *ngIf="findItemState.items.length">
      <search-item
           *ngFor="let item of findItemState.items"
           [findItem]="item"
           (playData)="onPlayVideo($event)"></search-item>
    </div>
  </div>
</div>
